.fondo{
  background-image: url('/public/img/fondo.png');
  background-position: 50%  -100px;
  background-size: 1000px;
  
}
.card-hover{
  transition: all .25s ease;
}
.card-hover:hover{
  transform: translate(-4px) scale(1.01);
}